.window-bar{
    background: rgba(255, 255, 255, 0.21);
    height:18px;
    user-select: none;
    -webkit-app-region: drag;
}
.right-block{
    float: right;
}
.right-block .btns{
    color: rgba(255,255,255,.66);
    margin-right:3px;
}
.left-block{
    float: left;
    font-size: .78em;
    font-weight:100;
    font-family:"3270Medium Nerd Font";
    color: rgba(255,255,255,.78);
    margin:3px;
    margin-left:33px;
}